@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900,900i');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 30px;
  font-weight: 300;
  padding-left: 20px;
  padding-bottom: 40px;
  padding-top: 10px;
}
.bootstrapicon {
  padding-right: 15px;
}
.wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
  background-color: #fff;
  width: 100vw;
}
.tablerow {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr 1fr 1fr;
  border-bottom: 1px solid grey;
}
@media only screen and (max-width: 690px) {
  .d, .e {
    display: none;
  }
  .wrapper {
    grid-template-columns: 4fr 1fr 1fr 1fr;
  }
  .tablerow {
    grid-template-columns: 4fr 1fr 1fr 1fr;
  }
}
.column {
  vertical-align: center;
  padding: 20px;
}
.tableheader {
  background-color: #eee;
  text-transform: uppercase;
  border-bottom: 3px solid darkgrey;
}
img {
  padding-bottom: 5px;
  height: 30px;
}
img.user {
  border-radius: 50%;
}
.commenticon {
  position: relative;
  padding-top: 15px;
  padding-left: 10px;
  height: 48px;
}
span {
  position: absolute;
  text-align: center;
  font-size: 10px;
  line-height: 20px;
  width: 20px;
  height: 20px;
  margin-left: -10px;
  background-color: black;
  border-radius: 50%;
  z-index: 10;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
  color: darkorange;
}
.titlelink {
  color: black;
}
.titlelink:hover {
  color: darkorange;
}
.b, .c, .d, .e, .f {
  text-align: center;
}
p {
  font-weight: 400;
  color: black;
  margin-bottom: 0;
}
.glyphicon {
  background-color: transparent;
  padding-left: 15px;
  padding-bottom: 3px;
}

.dropdown-menu p {
  font-size: 10px;
  display: inline-block;
}

.dropdown-menu {
  box-shadow: 0px 0px 0px;
  -moz-box-shadow: 0px 0px 0px;
  border-radius: 0;
}
